/*
Student Name: Kartik Rameshchandra Rana
Student ID: C0915199
*/

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

header{
    background-color: #008080; /* Teal Color */
    margin: 0;
    padding: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #001f3f; /* dark blue*/
    margin: 0 15px;
    padding: 8px 12px;
    border: 2px solid #001f3f; /* Border color matches the text color */
    border-radius: 5px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

nav a:hover {
    background-color: #001f3f; /* Dark blue background on hover */
    color: white; /* White text color on hover */
}

main {
    text-align: center;
    margin: 20px auto; /* Center the main content */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #008080;
}

.welcome-message img {
    margin-top: 20px;
}

/*specials html*/
.specials-banner {
    background-color: #008080; /* Teal color for the specials banner */
    color: white;
    padding: 20px;
    text-align: center;
}

.product-of-the-week, .weekly-sales, .customer-guarantee, .reasons-to-buy {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.product-of-the-week img, .weekly-sales .product img, .customer-guarantee img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.reasons-to-buy ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.reasons-to-buy ul li {
    margin: 15px 0;
    padding-left: 30px;
    position: relative;
}

.reasons-to-buy ul li img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    filter: invert(36%) sepia(0%) saturate(4568%) hue-rotate(172deg) brightness(90%) contrast(91%);
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #008080; /* Teal */
}